.loadme {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loader.svg') 50% 50% no-repeat rgb(249,249,249);
    background-size:8% 8%;
    opacity: .8;
}